body{
    font-size: 16px;
}
.fa-solid{
    color: rgb(102, 102, 245);
}
h3{
    font-weight: bolder;
}

.image2{
    height: 200px;
    width: 100px;
    background-image: url("../images/getBusy.jpg");
    background-size: cover;
    border: 1px solid grey;
    background-position: center center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}

.image1{
    height: 150px;
    width: 100px;
    margin-right: -10px;
    background-image: url(../images/IMG_4013.PNG);
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}

.image3{
    height: 150px;
    width: 100px;
    background-image: url("../images/property.jpg");
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 3px 3px 1px grey;
}
.image5{
    height: 200px;
    width: 100px;
    background-image: url("../images/plant37.png");
    background-size: cover;
    border: 1px solid grey;
    background-position: center center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}


.image6{
    height: 150px;
    width: 100px;
    margin-right: -10px;
    background-image: url(../images/plant45.png);
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}
.image4{
    height: 150px;
    width: 100px;
    margin-right: -10px;
    background-image: url(../images/plantOne.png);
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}


.image8{
    height: 200px;
    width: 100px;
    background-image: url("../images/getBusy.jpg");
    background-size: cover;
    border: 1px solid grey;
    background-position: center center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}

.image9{
    height: 150px;
    width: 100px;
    margin-right: -10px;
    background-image: url("../images/busy1.png");
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}

.image10{
    height: 150px;
    width: 100px;
    background-image: url("../images/busy2.png");
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 3px 3px 1px grey;
}

.image11{
    height: 200px;
    width: 100px;
    background-image: url("../images/property.jpg");
    background-size: cover;
    border: 1px solid grey;
    background-position: center center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}

.image12{
    height: 150px;
    width: 100px;
    margin-right: -10px;
    background-image: url("../images/propertOne.png");
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -3px 3px 1px grey;
}

.image13{
    height: 150px;
    width: 100px;
    background-image: url("../images/propertyTwo.png");
    background-size: cover;
    background-position: top center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 3px 3px 1px grey;
}

.yes{
    width: 65%;
}
.links, .details{
    width: 28%;
}
.images{
    width: 70%;
}
.images3{
    width: 30%;
}
.images2 p,.images2 li, .text-end, .col-md-4 ol p{
    font-size: 13px;
}

.span3{
    font-size: 12px;
}

.container{
    width: 88%;
    border-radius: 7px 7px 7px 7px;

}
.profile{
    height: 80px;
}
.span1{
    font-size: 14px;
    font-style: italic;
    color: maroon;
}
.span2{
    font-size: 15px;
}
.moringa img, .tuk img, .semi img, .equity img{
    float: right;
    height: 70px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 3px 3px 1px grey;
}

.education, .side1{
    width: 70%;
}
.refs{
    width: 28%!important;
}
.refs li{
    font-size: 15px;
    font-weight: bold;
}
.refs ol p{
    font-size: 13px;
}
h3, h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
.dates{
    font-family: 'Roboto', sans-serif;
}

h5 {
    color: blue;
}
.head1{
    font-size: 17px;
    font-weight: bolder;
}

.side2 ul li{
    list-style-type: circle;
}
.side2 p{
    color: maroon;
}